<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Health Telemetry</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

    <script src='https://cdn.plot.ly/plotly-2.35.2.min.js'></script>


</head>
<body>

<p> Activity detail for <span th:text="${session.userProfile.firstName}"/> Activity: <span th:text="${activity.name}"/>
</p>
<p></p>
<div id='hrChart'></div>
<script th:inline="javascript">

    var xList = [[${eventDateTimeList}]]
    var yList = [[${heartRateBpmList}]]
    var trace1 = {
        x: xList,
        y: yList,
        mode: 'lines'
    };

    var data = [ trace1 ];

    var layout = {
        width: 1024,
        height: 400,
        title: {text: 'Heart Rate BPM'},
        xaxis: {
            title: {
                text: 'Date / Time'
            },
            showgrid: false,
            zeroline: false
        },
        yaxis: {
            title: {
                text: 'BPM'
            },
            showline: false
        }
    };

    Plotly.newPlot('hrChart', data, layout);
</script>
<table>
    <tr>
        <td>Total Time Seconds</td><td><span th:text ="${totalTimeSeconds}"></span></td>
    </tr>
    <tr>
        <td>Distance Meters</td><td><span th:text="${distanceMeters}"></span></td>
    </tr>
    <tr>
        <td>Max Speed </td><td><span th:text="${maxSpeed}"></span></td>
    </tr>
    <tr>
        <td>Calories</td><td><span  th:text="${calories}"></span></td>
    </tr>
    <tr>
        <td>Avg Heart Rate BPM</td><td><span th:text="${avgHeartRateBpm}"></span></td>
    </tr>
    <tr>
        <td>Max Heart Rate BPM</td><td><span th:text="${maxHeartRateBpm}"></span></td>
    </tr>
    <tr>
        <td>Activity Date</td><td><span th:text="${activityDate}"></span></td>
    </tr>
</table>
<p></p>

<p>Table For Debug</p>
<table>
    <thead>
    <tr>
        <th>Heart Reat BPM</th>
        <th>Date Time</th>
    </tr>
    </thead>
    <th:block th:each="event : ${healthEvents}">
        <tr>
            <td th:text="${event.heartRateBpm}"></td>
            <td th:text="${event.eventDateTime}"></td>
        </tr>
    </th:block>
</table>

</body>
</html>