<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Upload A File</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<body>
<div class="main">
    <h1>Heart Pass</h1>
    <h3>Activity File Upload (TCX or FIT)</h3>

    <form action="#" th:action="@{/tcxfile/}" th:object="${fileCreateRequest}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:value="${session.userProfile.userId}" id="userId" name="userId"/>
        <label>
            File:
        </label>
        <input type="file" id="file" name="file"
               required>

        <label for="activityName">
            Activity Name:
        </label>
        <input type="text" id="activityName" name="activityName"
               placeholder="">

        <label for="activityDescription">
            Activity Description
        </label>
        <input type="text=" id="activityDescription" name="activityDescription"
               placeholder="">

        <div class="wrap">
            <button type="submit">
                Submit
            </button>
        </div>
    </form>
</div>
</body>

</html>